<!DOCTYPE html>
<html>
  
  <head>
    <title>{{ page.title }}</title>
    
      
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <link href="./demo/css/main.css" rel="stylesheet" type="text/css" media="screen, projection"/>
  </head>
   
    

  
  
  <br/>
  
  <body>    
    
    <div class="homebtn"  align="center">
      <a href="/demo"><input type="button" class="btn" name="home" value="Demo HomePage"/></a>
    </div>
    <br/>
  
    <form id="form1">
    <fieldset id="regform"><legend><b>[Only for test use]</b></legend>
    <div class="container">
      {{ content }}
    </div>
  </fieldset>
      </form>
      
        
    <footer>  
    
    <p align="center">Powered by <a href="https://skbhowmik.github.io" title="Click to visit">My Page</a></p>
    </footer>
  </body>
</html>
